/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
footer,
header {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a:link {
  color: #3d3d3d;
}
a:visited {
  color: #3d3d3d;
}
a:hover {
  color: #3d3d3d;
}
a:active {
  color: #3d3d3d;
}
/* Toolbar style */
.toolbar {
  padding: 8px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #f4f4f4;
}
.toolbar a {
  outline: none;
  text-decoration: none;
}
.toolbar .logo,
.toolbar .list,
.toolbar .responsive,
.toolbar .links {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}
.toolbar .logo,
.toolbar .list,
.toolbar .responsive {
  float: left;
  margin-right: 30px;
}
.toolbar .logo img {
  height: 29px;
  max-width: 100%;
  vertical-align: middle;
}
.toolbar .list .select-wrap {
  margin: 0;
  padding: 7px 0;
  width: 240px;
  height: auto;
  list-style: none;
  background: #ffffff;
}
.toolbar .list .select-wrap a {
  font-size: 15px;
  padding: 0 10px;
  display: block;
}
.toolbar .list .select-wrap .current {
  border: none;
  border-radius: 3px;
  display: block;
  cursor: pointer;
  padding: 0 10px;
}
.toolbar .list .select-wrap .current .arrow {
  position: absolute;
  right: 0;
  top: 0;
  /*height: 30px;
					font-weight: 400;
					font-size: 18px;
					.rotate(-90deg);*/
}
.toolbar .list .select-wrap ul {
  display: none;
  position: absolute;
  top: 31px;
  height: auto;
  max-height: 440px;
  overflow-y: auto;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.toolbar .list .select-wrap ul li {
  border-top: 1px solid #ececec;
  padding: 10px 0;
}
.toolbar .list .select-wrap ul li:hover {
  background: #f1f1f1;
  opacity: .95;
}
.toolbar .list .select-wrap ul li img {
  margin-top: 5px;
  width: 100%;
  max-width: 100%;
}
.toolbar .responsive {
  padding: 5px 0;
}
.toolbar .responsive a {
  opacity: .75;
  float: left;
  margin: 0 6px;
  cursor: pointer;
}
.toolbar .responsive a:hover {
  opacity: 1;
  color: #fff;
}
.toolbar .responsive a.desktop {
  background: url(../images/devices.png) no-repeat 0 0;
  width: 20px;
  height: 19px;
}
.toolbar .responsive a.desktop.active {
  background-position: 0 -21px;
}
.toolbar .responsive a.tabletlandscape {
  background: url(../images/devices.png) no-repeat -30px -3px;
  width: 17px;
  height: 14px;
  margin-top: 2px;
}
.toolbar .responsive a.tabletlandscape.active {
  background-position: -30px -24px;
}
.toolbar .responsive a.tabletportrait {
  background: url(../images/devices.png) no-repeat -59px -1px;
  width: 14px;
  height: 17px;
  margin-top: 1px;
}
.toolbar .responsive a.tabletportrait.active {
  background-position: -59px -22px;
}
.toolbar .responsive a.mobilelandscape {
  background: url(../images/devices.png) no-repeat -87px -4px;
  width: 14px;
  height: 11px;
  margin-top: 5px;
}
.toolbar .responsive a.mobilelandscape.active {
  background-position: -87px -25px;
}
.toolbar .responsive a.mobileportrait {
  background: url(../images/devices.png) no-repeat -117px -3px;
  width: 11px;
  height: 14px;
  margin-top: 3px;
}
.toolbar .responsive a.mobileportrait.active {
  background-position: -117px -24px;
}
.toolbar .links {
  float: right;
  list-style-type: none;
}
.toolbar .links .purchase,
.toolbar .links .close-button {
  position: relative;
  display: inline-block;
}
.toolbar .links .purchase a {
  padding: 6px 12px;
  font-size: 15px;
  line-height: 29px;
  background: #2e6da4;
  color: #ffffff;
}
.toolbar .links .purchase a:hover {
  opacity: .9;
}
.toolbar .links .close-button {
  margin-left: 15px;
  font-size: 20px;
  line-height: 29px;
}
.toolbar .links .close-button:hover {
  opacity: .7;
}
.iframe-wrap {
  background: #fefefe;
  position: fixed;
  height: 100vh;
  padding-top: 46px;
  width: 100vw;
  box-sizing: border-box;
}
.iframe-wrap #mp-iframe {
  position: relative;
  display: block;
  margin: 0 auto;
  float: none;
  overflow: hidden;
  z-index: 9;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.mp-hide-scroll {
  margin-right: -14px !important;
  overflow: hidden;
  height: 100%;
}
/* Responsive */
@media (max-width: 960px) {
  .toolbar .responsive {
    display: none;
  }
}
@media (max-width: 780px) {
  .toolbar .select-wrap ul {
    max-height: 220px;
  }
  .toolbar .logo {
    display: none;
  }
}
@media (max-width: 480px) {
  .toolbar .list .select-wrap {
    width: 180px;
  }
  .toolbar .links .close-button {
    display: none;
  }
}
@media (max-width: 360px) {
  .toolbar .list .select-wrap {
    width: 120px;
  }
}
/* Themes */
.dark-theme {
  border: 1px solid #000000;
  background: #262626;
}
.dark-theme .select-wrap {
  background: #f5f5f5 none repeat scroll 0 0;
  border-radius: 1px;
}
.dark-theme .select-wrap .current {
  color: #404040;
}
.dark-theme .links .purchase a {
  border-radius: 1px;
  background: #82b440 none repeat scroll 0 0;
  color: #ffffff;
}
.dark-theme .links .close-button a {
  color: #ffffff;
}
/* MIXINs */
